body {background-color: LavenderBlush;}
#header {
background-color:LightPink;
 font-weight: 900
}

#select { 
  font-family: 'Times New Roman', Times, serif;
  background-color: LightPink;
  padding:  10px;
  height: 50px;
}

#images {
  margin-left: 150px;
  margin-right: 100px;
}

#suv {
  background-color:PaleVioletRed;
  color: white;
  padding: 16px;
  text-align: center;
  font-size: 24px;
  margin: 4px 2px;
  border-radius: 70%;
  cursor: pointer;
  margin-left: 350px
}
#suv:hover {
  background-color:LightPink;
  color: white;
}

#sedan {
  background-color:PaleVioletRed;
  color: white;
  padding: 16px;
  text-align: center;
  font-size: 24px;
  margin: 4px 2px;
  border-radius: 70%;
  cursor: pointer;
  float: center;
  margin-left: 350px;
}
#sedan:hover {
  background-color:LightPink;
  color: white;
}

#ParkingSpot {
  background-color: PaleVioletRed;
  text-align: center;
  font-family: monospace;
  font-size: 23px;
  color: white;
  padding:  10px;
  height: 20px;
  margin: 40px 100px;
}

#suv-image {
  width: 400px;
  height: 250px;
  border: 5px solid PaleVioletRed;
  margin: 15px 30px;
  vertical-align: middle;
}

#sedan-image {
  width: 400px;
  height: 250px;
  border: 5px solid PaleVioletRed;
  margin: 15px 30px; 
}
